DISCORD_TOKEN=
BRACKET_CHANNEL_NAME=team-name-bracket

#Bracket Configuration
#Open Qual Name Submission
OPEN_QUAL_MAX_ROUND_SUBMISSONS=12
OPEN_QUAL_ROUNDS=3
OPEN_QUAL_PASSTHRU_SUBMISSIONS=8 # 8, 16, 32... Must be a power of 2
OPEN_QUAL_MAX_VOTES=3 # the intial number of votes each user gets per round
OPEN_QUAL_FORCE_TIE_BREAKER=true

MIN_SUB_LENGTH=3 # min string length of a submission
MAX_SUB_LENGTH=32 # max string length of a submission

# Club Colors Configuration
CLUB_COLORS_ONLY=false # forces color code submissions & provides color mapping instructions
CLUB_COLOR_MIN=2
CLUB_COLOR_MAX=2
COLOR_LABEL_1="Primary"
COLOR_LABEL_2="Accent"

#Bot Configuration
BOT_IS_PLAYING=false
BOT_SUBMISSION_FREQUENCY=2 # every 2 messages the bot will submit
BOT_VOTES=3

# Post Celebration Config
PREVIOUS_TEAM_NAME="Midwest Cream"